<footer>

  <!-- Footer Start-->
  <div class="footer-area footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Contract</h4>
              <ul>
                <li>090 123 456</li>
                <li><i class="fa-solid fa-location-dot"></i> 280 Trần Hưng Đạo, Hải Châu, Đà Nẵng</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>New product</h4>
              <ul>
                <li>Women's clothes</li>
                <li>Man's clothes</li>
                <li>Album</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Support</h4>
              <ul>
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>

