<section class="cart_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="cart_inner">
          <div>
            <div style="padding-left: 2%" class="h5" *ngIf="paymentList.length==0">
              Don't have anything in your cart, let's shopping!
            </div>
          </div>
          <div class="table-responsive">
            <table class="table text-orange h3">
              <thead>
              <tr>
                <th scope="col" (click)="addAllToCart()" ><i class="fa-solid fa-check"></i></th>
                <th scope="col">Name's Product</th>
                <th scope="col">Price</th>
              </tr>
              </thead>
              <tbody >
              <tr *ngFor="let item of paymentList">
                <td>
                  <input class="delete-checkbox" [checked]="paymentListId.includes(item.paymentDetailId)" type="checkbox"
                         (click)="addToCart2(item.paymentDetailId)"/>
                </td>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{item.imageName}}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{item.name}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>{{item.price | number}}<sup>đ</sup></h5>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <table class="table table-borderless">
            <thead>
            <tr>
              <td>
                <span class="text-orange h3"> <i class="fa-solid fa-note-sticky"></i> Payment </span>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Total product</td>
              <td class="text-end text-orange fw-bolder">{{sum|currency:'':'':'1.0-0'}}<sup> &#8363;</sup></td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td class="text-end text-orange fw-bolder">{{shipping|currency:'':'':'1.0-0'}}<sup> &#8363;</sup></td>

            </tr>
            <tr>
              <td>Total</td>
              <td class="text-end text-orange fw-bolder fs-5">{{total|currency:'':'':'1.0-0'}}<sup>
                &#8363;</sup><span></span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row px-3">
            <button type="button" class="btn bg-orange text-light btn-lg" [disabled]="paymentListId.length==0"
                    (click)="transferId()" routerLink="/receipt">Buy now
            </button>
          </div>
          <div class="row pt-3">
            <span class=" px-3"><i class="fa-solid fa-truck text-orange"></i><span class="text-muted"> Nationwide Delivery | to 49,000<sup> &#8363;</sup> </span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

