<!-- product list part start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product_list">
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
              <div class="form-box f-right ">
                <input type="text" name="Search" placeholder="Search products" [(ngModel)]="nameSearch"> <a class="btn-sm" (click)="search()"><i class="fas fa-search special-tag"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
          <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let item of pageProduct.content">
              <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                  <img class="img-fluid w-100" src="{{item.image}}" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                  <h6 class="text-truncate mb-3">{{item.name}}</h6>
                  <div class="d-flex justify-content-center">
                    <h6>{{item.price|number}}<sup>đ</sup></h6><h6 class="text-muted ml-2"><del>{{item.price*1.5 |number}}<sup>đ</sup></del></h6>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-between ">
                  <a style="margin-left: 10px"><i class="fas fa-eye "> </i> View Detail</a>
                  <a style="margin-right: 10px"><i class="fas fa-shopping-cart"> </i> Shopping Cart</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- product list part end-->
