<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header ">
      <div class="header-bottom  header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 d-none d-lg-block">
              <div class="logo">
                <a href="#"><img class="logo__img"  src="assets/img/logo/logoo.png" alt=""></a>
              </div>
            </div>
            <div class="col-xl-5 col-lg-8 col-md-7 col-sm-5">
              <!-- Main-menu -->
              <div class="main-menu f-right justify-content-between  d-none d-lg-block">
                <nav>
                  <ul class="top-navbar" id="navigation">
                    <li><a href="#" style="font-size: 18px">Home</a></li>
                    <li  class="hot"><a href="#"  style="font-size: 18px" >Product</a>
                      <ul class="submenu">
                        <li *ngIf="checkLogin "><a routerLink="/productList"> Product list</a></li>
                        <li *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'"><a routerLink="/cart" > Cart</a></li>
                      </ul>
                    </li>
                    <li><a href="#" style="font-size: 20px !important;">History </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div  class="col-xl-6 col-lg-3 col-md-3 col-sm-3 fix-card">
              <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                <li>
                  <div *ngIf="checkLogin" class="shopping-card">
<!--                    <a *ngIf="!checkLogin" routerLink="login"><i class="fas fa-shopping-cart"></i><sup>02</sup></a>-->
                    <a *ngIf="checkLogin " style="font-size: 20px !important;" routerLink="cart"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </li>
                <li class="user-information-header" style="margin-top: 13px" *ngIf="nameAccount!= ''">
                  {{nameAccount}}
                  <div class="user-information-header__detail">
                    <ul class="user-information-header__detail-group">
                      <li class="detail-group__item"><a >My account</a></li>
                      <li class="detail-group__item"><a >History order</a></li>
                      <li *ngIf="checkLogin"  class="detail-group__item"><a (click)="logOut()">Logout</a></li>
                    </ul>
                  </div>
                </li>
                <li  class="d-none d-lg-block" *ngIf="!checkLogin"><a routerLink="login" class="btn header-btn">Sign
                  in</a></li>
              </ul>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
