<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header ">
      <div class="header-bottom  header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 d-none d-lg-block">
              <div class="logo">
                <a href="#"><img src="assets/img/logo/logoo.png" alt=""></a>
              </div>
            </div>
            <div class="col-xl-5 col-lg-8 col-md-7 col-sm-5">
              <!-- Main-menu -->
              <div class="main-menu f-right justify-content-between  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="#">Home</a></li>
                    <li class="hot"><a href="#">Product</a>
                      <ul class="submenu">
                        <li *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'"><a routerLink="/productList"> Product list</a></li>
                        <li *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'"><a href="#"> Product Details</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <ul class="submenu">
                        <li *ngIf="!checkLogin"><a routerLink="/login">Login</a></li>
                        <li *ngIf="checkLogin"><a (click)="logOut()">Log Out</a></li>
                        <li><a href="#">Card</a></li>
                        <li><a href="#">Element</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Confirmation</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Product Checkout</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div  class="col-xl-6 col-lg-3 col-md-3 col-sm-3 fix-card">
              <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                <li>
                  <div class="shopping-card">
                    <a *ngIf="!checkLogin" routerLink="login"><i class="fas fa-shopping-cart"></i></a>
                    <a *ngIf="checkLogin" routerLink="cart"><i class="fas fa-shopping-cart"></i></a>
                  </div>

                </li>
                <li style="margin-top: 13px" *ngIf="nameAccount!= ''">{{nameAccount}}</li>
                <li  class="d-none d-lg-block" *ngIf="!checkLogin"><a routerLink="login" class="btn header-btn">Sign
                  in</a></li>
                <li class="d-none d-lg-block" *ngIf="checkLogin"><a (click)="logOut()" class="btn header-btn">Log
                  Out</a></li>
              </ul>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
